.ant-row {
    height: 50px;
    .radioGroup{
		float: right;
	}
	.setColsBtn{
		float: right;
		margin-right: 10px;
	}
}
.row1 {
    height: 25px;
}
.area a{
    margin-right: 10px;
    &.cur{
        color: red;
    }
}
em{
	text-decoration: none;
	font-style: normal;
	margin-right: 20px;
	cursor: pointer;
	&.cur{
		color:red;
	}
}
.region{
    height: 100px;
}
.mymodal{
	ul{
		overflow: hidden;
		list-style: none;
		min-height: 50px;
	}
	li{
		float: left;
		padding:2px 10px;
		border:1px solid rgb(173, 173, 172);
		margin-right: 10px;
		margin-bottom: 4px;
		border-radius: 4px;
		cursor: pointer;
	}
	.ul2 li{
		border:1px solid #eee;
	}

	.cl{
		clear: both;
	}

}
.avatar_images{
	width:150px;
	height: 100px;
}
.grid{
	padding:10px; 
}
.gridimg{
	width :200px;
	height: 130px;
	margin:10px 0;
}
.xuanfu{
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.6);
	z-index: 99999;

	.inner_ccc{
		width:90%;
		height:90%;
		background-color: black;
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50% , -50%);
	}

	.closeBtn{
		position: absolute;
		right:-16px;
		top:-16px;
		width:32px;
		height:32px;
		background-color: white;
	    z-index: 999999;
	    border-radius: 50%;
	    font-size: 38px;
	    line-height: 26px;
	    text-align: center;
	    color: #FF5722;
	    cursor: pointer;

	    &:hover{
	    	background-color: gold;
	    }

	}
}